/* Publications.css */

.publications {
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.paper-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.paper {
    width: 300px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.paper h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.paper p {
    margin-bottom: 5px;
}

.paper .tags {
    margin-top: 10px;
    font-size: 14px;
    color: #666;
}